<template>
  <div>
    <h3 class="m-3">Escuela: {{info_course.name_school}} ({{info_course.grade}} -  {{info_course.group}})</h3>
    <div class="card">
      <div class="card-header">
        Asistencia a <span class="text-info">{{info_course.matter_title}}</span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="exampleFormControlFile1">Fecha de asistencia</label>
              <br/>
              <span class="text-info">{{info_course.date_assistances}}</span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="period">Bimestre</label>
              <br/>
              <span class="text-info">{{info_course.period_title}}</span>
            </div>
          </div>
        </div>
        <div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Asistencia</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(alumno, index) in students" :key="index">
                <th scope="row">{{index + 1}}</th>
                <td>{{alumno.name}} {{alumno.first_name}} {{alumno.second_name}}</td>
                <td><i class="fa" :class="usuario_ids.includes(alumno.id) ? 'text-success fa-check-circle' : 'text-danger fa-times-circle'"></i></td>
              </tr>
            </tbody>
            </table>
            <router-link :to="'/lista/' + info_course.matter_id " class="btn btn-success"><i class="fa fa-arrow-left"></i></router-link>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import libApp from '@/lib'
import 'bootstrap/dist/css/bootstrap.css'
import datePicker from 'vue-bootstrap-datetimepicker'
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css'
export default {
  name: 'App',
  components: {datePicker},
  data () {
    return {
      school_id: localStorage.getItem('_school_id'),
      assistance_id: this.$route.params.id,
      students: {},
      errorLoad: false,
      info_course: {},
      usuario_ids: []
    }
  },
  created () {
    this.$http.get(process.env.PATH_API + '/api/v1/schools/' + this.school_id + '/assistances/' + this.assistance_id, {
      params: {},
      headers: libApp.getHeaders(true, 'assistances', 'show', 'v1')
    }).then(response => {
      return response.json()
    }).then(response => {
      this.info_course = response.info_course
      this.students = response.students
      this.usuario_ids = response.students_assistances
    })
  }
}
</script>
