<template>
  <div>
    <h3 class="m-3">Escuela: {{info_course.course.name_school}} ({{info_course.course.grade}} -  {{info_course.course.group}})</h3>
    <div class="card">
      <div class="card-header">
        Asistencia a {{info_course.matter_title}}
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="exampleFormControlFile1">Fecha de asistencia</label>
              <date-picker v-model="date" :config="options"></date-picker>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="period">Periodo</label>
              <select class="form-control" v-model="period_id">
                <option value="0"></option>
                <option v-for="(period,index) in periods" :key="index" :value="period.id">{{period.title}}</option>
              </select>
            </div>
          </div>
        </div>
        <div v-if="errorLoad">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Todos <input type="checkbox" @click="selectAll" v-model="allSelected"></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(alumno, index) in students" :key="index">
                <th scope="row">{{index + 1}}</th>
                <td>{{alumno.full_name}}</td>
                <td><input type="checkbox" class="form-check-input" @click="select" v-model="usuario_ids" :value="alumno.id"></td>
              </tr>
            </tbody>
            </table>
            <button type="button" class="btn btn-primary" @click="send_data">Guardar</button>
            <router-link :to="'/escuelas/' + school_id + '/courses'" class="btn btn-success"><i class="fa fa-arrow-left"></i></router-link>
            <i v-if="showE" class="fa fa-times text-danger">{{msgError}}</i>
          </div>
          <div v-if="!errorLoad" class="text-danger">{{msgError}}</div>
      </div>
    </div>
  </div>
</template>

<script>
import libApp from '@/lib'
import 'bootstrap/dist/css/bootstrap.css'
import datePicker from 'vue-bootstrap-datetimepicker'
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css'
export default {
  name: 'App',
  components: {datePicker},
  data () {
    return {
      course_matter_id: this.$route.params.id,
      school_id: localStorage.getItem('_school_id'),
      students: {},
      info_course: {course: {name_school: '', grade: '', group: ''}},
      allSelected: false,
      usuario_ids: [],
      msgError: '',
      errorLoad: false,
      showE: false,
      date: new Date(),
      period_id: 0,
      periods: {},
      options: {
        format: 'DD/MM/YYYY h:mm:ss a',
        useCurrent: true,
        minDate: new Date(),
        locale: 'es',
        icons: {time: 'fa fa-clock', clear: 'fa fa-eraser'},
        showTodayButton: true,
        showClear: true
      }
    }
  },
  created () {
    this.$http.get(process.env.PATH_API + '/api/v1/schools/' + this.school_id + '/students/', {
      params: {course_matter_id: this.course_matter_id},
      headers: libApp.getHeaders(true, 'students', 'index', 'v1')
    }).then(response => {
      return response.json()
    }).then(response => {
      if (response.status === 'error') {
        this.msgError = response.error
      } else {
        this.errorLoad = true
        this.students = response
      }
    })
    this.$http.get(process.env.PATH_API + '/api/v1/schools/' + this.school_id + '/course_matters/' + this.course_matter_id, {
      params: {},
      headers: libApp.getHeaders(true, 'course_matters', 'show', 'v1')
    }).then(response => {
      return response.json()
    }).then(response => {
      this.info_course = response
    })
    this.$http.get(process.env.PATH_API + '/api/v1/schools/' + this.school_id + '/periods', {
      params: {},
      headers: libApp.getHeaders(true, 'periods', 'index', 'v1')
    }).then(response => {
      return response.json()
    }).then(response => {
      this.periods = response
    })
  },
  methods: {
    selectAll: function () {
      this.usuario_ids = []
      if (!this.allSelected) {
        for (var user in this.students) {
          this.usuario_ids.push(this.students[user].id)
        }
      }
    },
    select: function () {
      this.allSelected = false
    },
    send_data: function () {
      this.showE = false
      this.showS = false
      this.msgError = ''
      if (this.period_id === 0) {
        this.showE = true
        this.msgError = ' - Requieres asignar un Periodo.'
      } else {
        if (this.date === null) {
          this.showE = true
          this.msgError = ' - Requieres asignar una fecha.'
        } else {
          if (this.usuario_ids.length === 0) {
            this.showE = true
            this.msgError += ' - Requieres por lo menos un alumno.'
          } else {
            this.$http.post(process.env.PATH_API + '/api/v1/schools/' + localStorage.getItem('_school_id') + '/assistances/',
              {course_matter_id: this.course_matter_id, user_ids: this.usuario_ids, date_assistance: this.date, period_id: this.period_id},
              {headers: libApp.getHeaders(true, 'assistances', 'create', 'v1')}
            ).then(response => {
              return response.json()
            }).then(assistance => {
              console.log('Redireccionar al listado de asistencias')
              localStorage.setItem('_matter_id', this.course_matter_id)
              location.href = '/asistencia/' + assistance.id
            }).catch((e) => {
              this.msgError = ('Error en la conexion')
            })
          }
        }
      }
    }
  }
}
</script>
