<template>
  <div>
    <h2>Escuela: {{school.title}}</h2>

    <div class="card">
      <div class="card-header">Listado de Cursos</div>
      <div class="card-body row">
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <a :class="{'active ': index === 0}" class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" v-bind:href="'#course_'+course.id" role="tab" aria-controls="profile" v-for="(course, index) in info_courses" :key="course.id">{{ course.grade }} - {{course.group}}</a>
          </div>
        </div>
        <div class="col-8">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show" :class="{'active ': index === 0}" :id="'course_'+course.id" role="tabpanel" aria-labelledby="list-home-list" v-for="(course, index) in info_courses" :key="course.id">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre de la materia</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(c_m, index) in course.course_matters" :key="index">
                    <th scope="row">{{index + 1}}</th>
                    <td>{{c_m.matter_title}}</td>
                    <td>
                      <a class="btn btn-success" :href="'/asistencia/' + c_m.id + '/new'" role="button"><i class="fa fa-calendar-check"></i></a>
                      <a v-if="c_m.count_assistances > 0" class="btn btn-warning ml-2" :href="'/lista/' + c_m.id" role="button"><i class="fa fa-list"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <router-link tag="a" to="/escuelas" class="btn btn-success mt-3" active-class="active" exact><i class="fa fa-arrow-left"></i></router-link>
      </div>
    </div>
  </div>
</template>

<script>
import libApp from '@/lib'
export default {
  name: 'App',
  data () {
    return {
      id: this.$route.params.id,
      info_courses: {},
      school: {}
    }
  },
  created () {
    localStorage.setItem('_school_id', this.id)
    this.$http.get(process.env.PATH_API + '/api/v1/schools/' + this.id + '/courses/', {
      headers: libApp.getHeaders(true, 'courses', 'index', 'v1')
    }).then(response => {
      return response.json()
    }).then(response => {
      this.info_courses = response
    })
    this.$http.get(process.env.PATH_API + '/api/v1/schools/' + this.id, {
      headers: libApp.getHeaders(true, 'schools', 'show', 'v1')
    }).then(response => {
      return response.json()
    }).then(response => {
      this.school = response
    })
  }
}
</script>
