<template>
  <div class="header clearfix mb-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary ">
        <router-link tag="a" to="/" class="navbar-brand text-white" >PEA-Digital</router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav ">
            <li v-if="isLoggedIn"><span class="form-control-plaintext text-white">{{currentUser}}</span></li>
            <li class="nav-item"><router-link tag="a" to="/" class="nav-link text-white" active-class="active" exact>Inicio</router-link></li>
        <li v-if="isLoggedIn" class="nav-item"><router-link tag="a" to="/escuelas" class="nav-link text-white" active-class="active" exact>Escuelas</router-link></li>
        <li v-if="!isLoggedIn" class="nav-item"><router-link tag="a" to="/login" class="nav-link text-white" active-class="active" exact>Entrar</router-link></li>
        <li v-if="isLoggedIn" class="nav-item"><button class="btn btn-primary" v-on:click="logout">Salir</button></li>
          </ul>
        </div>
      </nav>
  </div>
</template>

<script>
export default {
  data () {
    return {
      isLoggedIn: false,
      currentUser: false
    }
  },
  created () {
    if (localStorage.getItem('_userP')) {
      this.isLoggedIn = true
      this.currentUser = JSON.parse(localStorage.getItem('_userP')).full_name
    }
  },
  methods: {
    logout () {
      localStorage.removeItem('_userP')
      this.$router.go({path: this.$router.path})
    }
  }
}
</script>
