<template>
  <div id="app">
    <h1>Archivo</h1>
    <vue-xlsx-table @on-select-file="handleSelectedFile">Selecciona</vue-xlsx-table>
  </div>
</template>

<script>
export default {
  name: 'app',
  methods: {
    handleSelectedFile (convertedData) {
      console.log(JSON.stringify(convertedData.body))
    }
  }
}
</script>