<template>
  <div >
    <h3>Escuela: {{infoCourse.titleSchool}}</h3>
    <div class="card">
      <div class="card-header">Asistencias de <span class="text-info">{{infoCourse.titleCourse}} ({{infoCourse.curso}})</span></div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Fecha</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(l_a, index) in list_assitances" :key="index">
              <th scope="row">{{index + 1}}</th>
              <td>{{l_a.date}}</td>
              <td><router-link :to="'/asistencia/' + l_a.id " class="btn text-success"><i class="fa fa-eye"></i></router-link></td>
            </tr>
          </tbody>
        </table>
        <router-link :to="'/escuelas/' + school_id + '/courses'" class="btn btn-success"><i class="fa fa-arrow-left"></i></router-link>
      </div>
    </div>
  </div>
</template>

<script>
import libApp from '@/lib'
export default {
  name: 'App',
  data () {
    return {
      list_assitances: {},
      school_id: localStorage.getItem('_school_id'),
      asistance_id: this.$route.params.id,
      infoCourse: {}
    }
  },
  created () {
    this.$http.get(process.env.PATH_API + '/api/v1/schools/' + this.school_id + '/assistances/', {
      params: {asistance_id: this.asistance_id},
      headers: libApp.getHeaders(true, 'assistances', 'index', 'v1')
    }).then(response => {
      return response.json()
    }).then(response => {
      this.infoCourse = response.infoCourse
      this.list_assitances = response.listA
    })
  }
}
</script>
