<template>
  <div class="container text-white">
      <div class="col-6">
        <div class="card-header bg-info">
          <h3>Entrar al sistema</h3>
          <form class="form-horizontal" role="form" v-on:submit.prevent="handleLoginForm()">
          <div class="form-group">
             <label for="email1" class="col-md-6">Correo electronico:</label>
             <input type="email" class="form-control" id="email" v-model="login.email" required="required">
          </div>
          <div class="form-group">
             <label for="password1" class="col-md-6">Contraseña:</label>
             <input type="password" class="form-control" id="pwd" v-model="login.pwd" required="required">
          </div>
          <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn btn-primary">Entrar</button>
            <p v-if="errors.length" class="bg-danger mt-2">
              <ul>
                <li v-for="error in errors" :key="error.id">{{ error }}</li>
              </ul>
            </p>
          </div>
          </div>
          </form>
        </div>
      </div>
  </div>
</template>

<script>
import libApp from '@/lib'
export default {
  data () {
    return {
      login: {
        email: '',
        pwd: ''
      },
      errors: []
    }
  },
  methods: {
    handleLoginForm () {
      this.errors = []
      this.$http.post(process.env.PATH_API + '/api/v1/services',
        {email: this.login.email, pwd: this.login.pwd},
        {headers: libApp.getHeaders(false, 'services', 'create', 'v1')}
      ).then(response => {
        if (response.body.error === undefined) {
          localStorage.setItem('_userP', JSON.stringify(response.body))
          this.$router.go({path: this.$router.path})
        } else {
          this.errors.push(response.body.error)
        }
      }).catch((e) => {
        this.errors.push('Error en la conexion')
      })
    }
  }
}
</script>
