﻿<template>
  <div class="shadow p-3 card col-6 mx-auto mt-3">
    <div class="row m-4">
     <div class="col-4">
       <img src="@/assets/foto-perfil.jpg" class="img rounded-circle" alt="perfil" width="130" height="130">
     </div>
     <div class="col-8 mx-auto">
       <p class=" font-weight-bold">
         {{currentUser.name}} {{currentUser.first_name}} {{currentUser.second_name}}
       </p>
       <p>{{currentUser.email}}</p>
     </div>
   </div>
 </div>
</template>
<script>
export default {
  data () {
    return {
      currentUser: false,
      msg: ''
    }
  },
  created () {
    if (localStorage.getItem('_userP')) {
      this.currentUser = JSON.parse(localStorage.getItem('_userP'))
    }
  }
}
</script>
