<template>
  <div class="card">
    <div class="card-header">Escuelas</div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(school, index) in schools" :key="index">
            <th scope="row">{{index + 1}}</th>
            <td>{{school.title}}</td>
            <td><router-link :to="'/escuelas/' + school.id + '/courses'" class="btn btn-success"><i class="fa fa-edit"></i></router-link></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import libApp from '@/lib'
export default {
  name: 'App',
  data () {
    return {
      schools: {}
    }
  },
  created () {
    localStorage.removeItem('_school_id')
    this.$http.get(process.env.PATH_API + '/api/v1/schools', {
      headers: libApp.getHeaders(true, 'schools', 'index', 'v1')
    }).then(response => {
      return response.json()
    }).then(schools => {
      this.schools = schools
    })
  }
}
</script>
