<template>
  <div id="app">
    <encabezado/>
    <div class="container">
      <router-view/>
    </div>
    <infoFooter/>
  </div>
</template>

<script>
import Encabezado from '@/components/encabezado'
import infoFooter from '@/components/infoFooter'
export default {
  name: 'App',
  components: {encabezado: Encabezado, infoFooter: infoFooter}
}
</script>

<style>
</style>
